## Esercizio 1
Caricate il dataset ionosphere che è composto da 34 valori numerici e la classe ('b' oppure 'g').

Effettuate la classificazione k-NN utilizzando come distanza la distanza Euclidea e la distanza di Mahalanobis e confrontate i risultati.

In [ ]:
import pandas as pd

labels=list(range(1, 35)) + ['class']
df = pd.read_csv('http://www.lacascia.it/bd2/_ionosphere/ionosphere.data', names=labels)

In [ ]:
df

In [ ]:
data = df.iloc[:, :-1].to_numpy(copy=True)
target = df.iloc[:, -1].to_numpy(copy=True)
print(data.shape, target.shape)

(351, 34) (351,)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [ ]:
# euclidean
knn1 = KNeighborsClassifier(n_neighbors=5 , p=2 , metric="minkowski")
knn1.fit(X_train, y_train)
print(f'Accuracy: {knn1.score(X_test, y_test):.2%}')

Accuracy: 86.36%

In [ ]:
from sklearn.metrics import DistanceMetric
import numpy as np
from numpy.linalg import inv

# mahalanobis
knn2 = KNeighborsClassifier(metric='mahalanobis', metric_params={'VI': inv(np.cov(data))})
knn2.fit(X_train, y_train)
print(f'Accuracy: {knn2.score(X_test, y_test):.2%}')

Accuracy: 70.45%

In [ ]:
print(f'Euclidean Accuracy: {knn1.score(X_test, y_test):.2%}')
print(f'Mahalanobis Accuracy: {knn2.score(X_test, y_test):.2%}')

Euclidean Accuracy: 86.36%
Mahalanobis Accuracy: 70.45%

## Esercizio 2
Utilizzando PCA mantenete solo le 10 componenti con maggior varianza del dataset ionosphere e discretizzatele a 5 bin equidepth. Effettuate quindi la classificazione k-NN utilizzando una distanza basata sulla somma di similarità delle singole features.

In [118]:
# Trasformo i dati con PCA mantenendo 10 componenti
from sklearn.decomposition import PCA
pca = PCA(n_components=10, svd_solver='full')
data_n = pca.fit(data).transform(data)

import numpy as np
from numpy.linalg import inv
# Calcolo l'inversa della matrice di covarianza dei dati
C=np.cov(data_n.T)
CI = inv(C)
CI.shape

# Faccio lo split fra train e test sui dati a dimensionalità ridotta
X_train, X_test, y_train, y_test = train_test_split(data_n, target)

# Calcolo la matrice delle distanze per il train
from scipy.spatial.distance import mahalanobis
dist_train = np.zeros((X_train.shape[0], X_train.shape[0]))
for i in range(X_train.shape[0]):
  for j in range(X_train.shape[0]):
    dist_train[i, j] = mahalanobis(X_train[i, :], X_train[j, :], CI)

# Calcolo la matrice delle distanze del test dal train
dist_test = np.zeros((X_test.shape[0], X_train.shape[0]))
for i in range(X_test.shape[0]):
  for j in range(X_train.shape[0]):
    dist_test[i, j] = mahalanobis(X_test[i, :], X_train[j, :], CI)

# Costruisco il modello e ne valuto le performance
knn = KNeighborsClassifier(metric='precomputed')
knn.fit(X=dist_train, y=y_train)

print(f'Accuracy: {knn.score(dist_test, y_test):.2%}')

Accuracy: 93.18%

In [ ]:
# Discretizzo ciascuna delle 10 feature con 5 simboli
data_d = np.zeros(data_n.shape)
for col in range(data_n.shape[1]):
  data_d[:, col] = pd.qcut(data_n[:, col], 5, labels=False)

data_d

In [121]:
# Definisco una distanza basata sulla somma di similarità delle singole features
def myDist(x1, x2):
  sim = 0;
  for i in range(x1.shape[0]):
    sim = sim + (x1[i] == x2[i])
  return 1 - sim/x1.shape[0]

In [122]:
# Faccio lo split fra train e test sui dati discretizzati
X_train, X_test, y_train, y_test = train_test_split(data_d, target)

# Calcolo la matrice delle distanze per il train
dist_train = np.zeros((X_train.shape[0], X_train.shape[0]))
for i in range(X_train.shape[0]):
  for j in range(X_train.shape[0]):
    dist_train[i, j] = myDist(X_train[i, :], X_train[j, :])

# Calcolo la matrice delle distanze del test dal train
dist_test = np.zeros((X_test.shape[0], X_train.shape[0]))
for i in range(X_test.shape[0]):
  for j in range(X_train.shape[0]):
    dist_test[i, j] = myDist(X_test[i, :], X_train[j, :])

# Costruisco il modello e ne valuto le performance
knn = KNeighborsClassifier(metric='precomputed')
knn.fit(X=dist_train, y=y_train)

print(f'Accuracy: {knn.score(dist_test, y_test):.2%}')

Accuracy: 94.32%

## Esercizio 3
Dopo aver effettuato la connessione a MongoDB determinate:
1. I tioli dei film che durano più di 150 minuti
2. Il numero di film che non hanno nessun commento (num_mflix_comments=0)
3. Il numero di film con rating maggiore di 9
4. Le co-produzioni che coinvolgono il maggior numero di paesi
5. I film disponibili nel maggior numero di lingue.

In [ ]:
!curl ifconfig.me

34.139.138.73

In [ ]:
!pip install -q dnspython pymongo
import datetime
import pprint
import pymongo
from pymongo import MongoClient

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 305.4/305.4 kB 2.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 677.1/677.1 kB 9.2 MB/s eta 0:00:00

In [ ]:
client = MongoClient("mongodb+srv://maurorusso:mRXTlAqKOG4Ldd89@cluster0.y3coqsq.mongodb.net/?retryWrites=true&w=majority")
db = client.sample_mflix

In [ ]:
# Verifichiamo che sia tutto ok
db.movies.find()[0].keys()

dict_keys(['_id', 'plot', 'genres', 'runtime', 'cast', 'poster', 'title', 'fullplot', 'languages', 'released', 'directors', 'rated', 'awards', 'lastupdated', 'year', 'imdb', 'countries', 'type', 'tomatoes', 'num_mflix_comments'])

1. I tioli dei film che durano più di 150 minuti

In [ ]:
res1 = db.movies.find({ 'runtime': { '$gt': 150 }}, { 'runtime': 1})
list(res1)[:5]

[{'_id': ObjectId('573a1390f29313caabcd5293'), 'runtime': 199},
 {'_id': ObjectId('573a1391f29313caabcd7d4e'), 'runtime': 155},
 {'_id': ObjectId('573a1391f29313caabcd883d'), 'runtime': 240},
 {'_id': ObjectId('573a1391f29313caabcd91dc'), 'runtime': 158},
 {'_id': ObjectId('573a1392f29313caabcda4a9'), 'runtime': 281}]

2. Il numero di film che non hanno nessun commento (num_mflix_comments=0)

In [124]:
res2 = db.movies.find({ 'num_mflix_comments': { '$eq': 0 }}, { 'num_mflix_comments': 1})
len(list(res2))
# BETTER with 'aggregate'

14562

3. Il numero di film con rating maggiore di 9

In [125]:
res3 = db.movies.find({ 'imdb.rating': { '$gt': 9 } }, { 'imdb.rating': 1})
len(list(res3))
# BETTER with 'aggregate'

20

4. Le co-produzioni che coinvolgono il maggior numero di paesi

In [ ]:
project_stage = { '$project': { 'countries': 1 }}
res4 = db.movies.aggregate([project_stage])
list(res4)[:5]

[{'_id': ObjectId('573a1390f29313caabcd42e8'), 'countries': ['USA']},
 {'_id': ObjectId('573a1390f29313caabcd446f'), 'countries': ['USA']},
 {'_id': ObjectId('573a1390f29313caabcd4803'), 'countries': ['USA']},
 {'_id': ObjectId('573a1390f29313caabcd4eaf'), 'countries': ['USA']},
 {'_id': ObjectId('573a1390f29313caabcd50e5'), 'countries': ['USA']}]

In [ ]:
project_stage = { '$project': { 'countries': 1, 'numberOfCountries': { '$cond': { 'if': { '$isArray': "$contries" }, 'then': { '$size': "$countries" }, 'else': "NA"} }}}
sort_stage = { '$sort': { 'numberOfCountries': pymongo.DESCENDING }}
# match_stage = { '$match': { 'numberOfCountries': { '$gt': 0 }}}
res4 = db.movies.aggregate([project_stage, sort_stage])
list(res4)[:5]
# NON riconosce countries come array

[{'_id': ObjectId('573a1390f29313caabcd42e8'),
  'countries': ['USA'],
  'numberOfCountries': 'NA'},
 {'_id': ObjectId('573a1390f29313caabcd446f'),
  'countries': ['USA'],
  'numberOfCountries': 'NA'},
 {'_id': ObjectId('573a1390f29313caabcd4803'),
  'countries': ['USA'],
  'numberOfCountries': 'NA'},
 {'_id': ObjectId('573a1390f29313caabcd4eaf'),
  'countries': ['USA'],
  'numberOfCountries': 'NA'},
 {'_id': ObjectId('573a1390f29313caabcd50e5'),
  'countries': ['USA'],
  'numberOfCountries': 'NA'}]

In [126]:
# SOL PROF
# 4. Le co-produzioni che coinvolgono il maggior numero di paesi
match_stg = {"$match" : {"countries":{"$exists":"true"}}}
project_stg = {"$project" : {"_id":0, "title":1, "ncountries": {"$size":"$countries"}}}
sort_stg = {"$sort": {"ncountries":-1}}
limit_stg = {"$limit":5}
res = db.movies.aggregate([match_stg, project_stg, sort_stg, limit_stg])
list(res)

[{'title': 'Samsara', 'ncountries': 16},
 {'title': 'Dancer in the Dark', 'ncountries': 13},
 {'title': 'Revolution', 'ncountries': 11},
 {'title': "It's All About Love", 'ncountries': 11},
 {'title': 'PressPausePlay', 'ncountries': 10}]

5. I film disponibili nel maggior numero di lingue.

In [ ]:
project_stage = { '$project': { 'languages': 1 }}
res5 = db.movies.aggregate([project_stage])
list(res5)[:5]

[{'_id': ObjectId('573a1390f29313caabcd42e8'), 'languages': ['English']},
 {'_id': ObjectId('573a1390f29313caabcd446f'), 'languages': ['English']},
 {'_id': ObjectId('573a1390f29313caabcd4803'), 'languages': ['English']},
 {'_id': ObjectId('573a1390f29313caabcd4eaf'), 'languages': ['English']},
 {'_id': ObjectId('573a1390f29313caabcd50e5'), 'languages': ['English']}]

In [ ]:
project_stage = { '$project': { 'numberOfLanguages': { '$cond': { 'if': { '$isArray': "$languages" }, 'then': { '$size': "$languages" }, 'else': "NA"} }}}
sort_stage = { '$sort': { 'numberOfLanguages': pymongo.DESCENDING }}
match_stage = { '$match': { 'numberOfLanguages': { '$gt': 0 }}}
res5 = db.movies.aggregate([project_stage, match_stage, sort_stage])
list(res5)[:5]

[{'_id': ObjectId('573a13cef29313caabd86112'), 'numberOfLanguages': 19},
 {'_id': ObjectId('573a13b5f29313caabd45895'), 'numberOfLanguages': 11},
 {'_id': ObjectId('573a13d9f29313caabdaa029'), 'numberOfLanguages': 10},
 {'_id': ObjectId('573a1397f29313caabce6e0e'), 'numberOfLanguages': 9},
 {'_id': ObjectId('573a1398f29313caabcea815'), 'numberOfLanguages': 9}]

## Esercizio 4
Alla URL http://www.lacascia.it/bd2/vendite.zip trovate i file CSV contenenti dati di prodotti, venditori e transazioni.

Il dataset `prodotti` contiene i dati dei prodotti in vendita:
- un identificativo univoco (`item_id`)
- la categoria del prodotto (`category`)
- il prezzo del singolo prodotto (`price`)

Il dataset `venditori` contiene i dati dei venditori:
- un identificativo univoco (`seller_id`)
- il tipo del venditore (`seller_type`), che può essere First-Party o Third-Party

Il dataset `transazioni` contiene i dati delle vendite effettuate:
- id univoco della transazione (`transaction_id`)
- id univoco del prodotto venduto (`item_id`)
- id univoco del venditore (`seller_id`)
- anno, mese e giorno della transazione (`year`, `month` e `day`)
- quantità di prodotti venduti (`num_items`)

Scrivete quindi un mapper e un reducer in Python che permettono di determinare:
1. Il numero totale di prodotti venduti nel dicembre 2009
2. Il numero di libri che costano meno di 10 EUR

In [53]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
transactions = pd.read.csv('/content/drive/MyDrive/vendite/transazioni.csv', header=True, inferSchema=True)
products = pd.read.csv('/content/drive/MyDrive/vendite/prodotti.csv', header=True, inferSchema=True)
sellers = pd.read.csv('/content/drive/MyDrive/vendite/venditori.csv', header=True, inferSchema=True)

In [58]:
!head -5 /content/drive/MyDrive/vendite/transazioni.csv

transaction_id,item_id,seller_id,year,month,day,num_items
1,1,1,2009,5,29,1
2,2,8,2009,11,30,1
3,3,15,2009,1,27,1
4,4,13,2009,12,21,1

In [ ]:
# mapper 1
import sys

for line in sys.stdin:
  line = line.strip()
  transaction_id, item_id, seller_id, year, month, day, num_items = line.split(',')
  if (int(year) == 2009 and int(month) == 12):
    print('same_key', num_items, sep='\t')

In [ ]:
# reducer 1
import sys

sum = 0
for line in sys.stdin:
  line = line.strip()
  key, n_items = line.split('\t')
  sum += int(n_items)

print(f'Numero di prodotti venduti nel dicembre 2009: {sum}')

In [129]:
!tail -n +2 /content/drive/MyDrive/vendite/transazioni.csv | \
    python mapper1.py | \
    sort | \
    python reducer1.py

Numero di prodotti venduti nel dicembre 2009: 173

In [61]:
!head -5 /content/drive/MyDrive/vendite/prodotti.csv

item_id,category,price
1,Health & Personal Care,18.09
2,Books,15.68
3,Books,13.57
4,Books,23.10

In [ ]:
!tail +2 /content/drive/MyDrive/vendite/prodotti.csv

In [ ]:
# mapper 2
import sys

for line in sys.stdin:
  line = line.strip()
  item_id, category, price = line.split(',')
  if (category == 'Books' and float(price) < 10):
    print('same_key', 1, sep='\t')

In [ ]:
# reducer 2
import sys

sum = 0
for line in sys.stdin:
  line = line.strip()
  key, n = line.split('\t')
  sum += int(n)

print(f'Numero di libri che costano meno di 10 euro: {sum}')

In [130]:
!tail -n +2 /content/drive/MyDrive/vendite/prodotti.csv | \
    python mapper2.py | \
    sort | \
    python reducer2.py

Numero di libri che costano meno di 10 euro: 83

## Esercizio 5
Caricate i dati dell'esercizio precedente in 3 RDD. Utilizzando le API Spark RDD determinate:

1. Il numero totale di prodotti venduti nel dicembre 2009
2. Il numero di libri che costano meno di 10 EUR
3. Il ricavo derivante dalla vendita dei libri nel mese di Dicembre 2009
4. Il ricavo derivante da tutte le transazioni per ciascuna categoria di prodotto
5. I tre venditori di tipo Third-Party che hanno venduto il maggior numero di prodotti

In [52]:
import os

!apt-get upgrade -y -qq > /dev/null

# Install JDK 11
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
os.environ["JAVA_HOME"]  = "/usr/lib/jvm/java-11-openjdk-amd64"
# Install Spark 3.4.0
!curl -O https://archive.apache.org/dist/spark/spark-3.4.0/spark-3.4.0-bin-hadoop3.tgz
!tar xf spark-3.4.0-bin-hadoop3.tgz
!ln -s spark-3.4.0-bin-hadoop3 spark
!rm -f *.tgz
os.environ["SPARK_HOME"] = "/content/spark"
#Install findspark using pip to make pyspark importable as regular library
!pip -q install findspark
import findspark
findspark.init()

#importing pyspark
import pyspark
#importing sparksession
from pyspark.sql import SparkSession

#creating a sparksession object and providing appName
spark=SparkSession.builder.appName("local").getOrCreate()
sc = spark.sparkContext

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  370M  100  370M    0     0  1466k      0  0:04:18  0:04:18 --:--:--  924k

In [132]:
transactions = spark.read.csv('/content/drive/MyDrive/vendite/transazioni.csv', header=True, inferSchema=True).rdd.cache()
products = spark.read.csv('/content/drive/MyDrive/vendite/prodotti.csv', header=True, inferSchema=True).rdd.cache()
sellers = spark.read.csv('/content/drive/MyDrive/vendite/venditori.csv', header=True, inferSchema=True).rdd.cache()

In [72]:
print(transactions.take(1))
print()
print(products.take(1))
print()
print(sellers.take(1))

[Row(transaction_id=1, item_id=1, seller_id=1, year=2009, month=5, day=29, num_items=1)]

[Row(item_id=1, category='Health & Personal Care', price=18.09)]

[Row(seller_id=1, seller_type='Third-Party')]

1. Il numero totale di prodotti venduti nel dicembre 2009

In [85]:
def my_sum(x,y):
  return round(float(x) + float(y), 2)

In [133]:
tr1 = (transactions
       .filter(lambda x: int(x['year']) == 2009 and int(x['month']) == 12)
       .map(lambda x: ('prod2009dec', int(x['num_items'])))
       .reduceByKey(my_sum))

tr1.collect()

[('prod2009dec', 173.0)]

2. Il numero di libri che costano meno di 10 EUR

In [80]:
pr1 = (products
       .filter(lambda x: x['category'] == 'Books' and float(x['price']) < 10)
       .map(lambda x: ('books10', 1))
       .reduceByKey(my_sum))

pr1.collect()

[('books10', 83.0)]

3. Il ricavo derivante dalla vendita dei libri nel mese di Dicembre 2009

In [81]:
print(transactions.take(1))
print()
print(products.take(1))
print()
print(sellers.take(1))

[Row(transaction_id=1, item_id=1, seller_id=1, year=2009, month=5, day=29, num_items=1)]

[Row(item_id=1, category='Health & Personal Care', price=18.09)]

[Row(seller_id=1, seller_type='Third-Party')]

In [86]:
tr3 = transactions.filter(lambda x: int(x['year']) == 2009 and int(x['month']) == 12).map(lambda x: (x['item_id'], x))
pr3 = products.filter(lambda x: x['category'] == 'Books').map(lambda x: (x['item_id'], x))
join3 = tr3.join(pr3).map(lambda x: ('income', ( int(x[1][0]['num_items']) * float(x[1][1]['price'])))).reduceByKey(my_sum)
join3.collect()

[('income', 2559.68)]

4. Il ricavo derivante da tutte le transazioni per ciascuna categoria di prodotto

In [92]:
tr4 = transactions.map(lambda x: (x['item_id'], x))
pr4 = products.map(lambda x: (x['item_id'], x))
join4 = tr4.join(pr4).map(lambda x: (x[1][1]['category'], int(x[1][0]['num_items']) * float(x[1][1]['price']) ) ).reduceByKey(my_sum).sortBy(lambda x: x[1], ascending=False)
join4.collect()

[('Books', 28382.26),
 ('Kitchen & Housewares', 2242.57),
 ('Electronics', 2111.44),
 ('Kindle Hardware', 1525.97),
 ('Apparel & Accessories', 759.35),
 ('Music', 673.73),
 ('DVD', 618.67),
 ('Software', 609.07),
 ('Health & Personal Care', 567.98),
 ('Sports & Outdoors', 429.11),
 ('Toys & Games', 328.58),
 ('MP3 Downloads', 316.33),
 ('Video Games', 305.37),
 ('Tools & Hardware', 280.23),
 ('Health & Personal Care Appliances', 223.28),
 ('Kindle eBooks', 206.92),
 ('Watches', 119.99),
 ('Musical Instruments', 84.75),
 ('Jewelry', 74.0),
 ('Baby', 73.92),
 ('Pet Supplies', 68.42),
 ('Magazine Subscriptions', 54.9),
 ('Other', 45.36),
 ('Cell Phones & Service', 39.84),
 ('Office Products', 19.49),
 ('Automotive', 9.37),
 ('Beauty', 7.0),
 ('Video On Demand Videos', 5.97),
 ('VHS', 0.01)]

5. I tre venditori di tipo Third-Party che hanno venduto il maggior numero di prodotti

In [93]:
print(transactions.take(1))
print()
print(products.take(1))
print()
print(sellers.take(1))

[Row(transaction_id=1, item_id=1, seller_id=1, year=2009, month=5, day=29, num_items=1)]

[Row(item_id=1, category='Health & Personal Care', price=18.09)]

[Row(seller_id=1, seller_type='Third-Party')]

In [96]:
tr5 = transactions.map(lambda x: (x['seller_id'], x))
sl5 = sellers.filter(lambda x: x['seller_type'] == 'Third-Party').map(lambda x: (x['seller_id'], x))
join5 = tr5.join(sl5).map(lambda x: (x[1][1]['seller_id'], int(x[1][0]['num_items']))).reduceByKey(my_sum).sortBy(lambda x: x[1], ascending=False)
join5.take(10)

[(2, 57.0),
 (3, 50.0),
 (4, 49.0),
 (1, 49.0),
 (6, 47.0),
 (7, 47.0),
 (9, 46.0),
 (10, 45.0),
 (8, 43.0),
 (5, 42.0)]

### Esercizio 6
Caricate i dati dell'esercizio precedente in 3 DataFrame Spark. Utilizzando le **API di Spark SQL** determinate:

1. Il numero totale di prodotti venduti nel dicembre 2009
2. Il numero di libri che costano meno di 10 EUR
3. Il ricavo derivante dalla vendita dei libri nel mese di Dicembre 2009
4. Il ricavo derivante da tutte le transazioni per ciascuna categoria di prodotto
5. I tre venditori di tipo Third-Party che hanno venduto il maggior numero di prodotti

In [99]:
transactions = spark.read.csv('/content/drive/MyDrive/vendite/transazioni.csv', header=True, inferSchema=True)
products = spark.read.csv('/content/drive/MyDrive/vendite/prodotti.csv', header=True, inferSchema=True)
sellers = spark.read.csv('/content/drive/MyDrive/vendite/venditori.csv', header=True, inferSchema=True)

In [101]:
transactions.createOrReplaceTempView('T')
products.createOrReplaceTempView('P')
sellers.createOrReplaceTempView('S')

In [100]:
print(transactions.printSchema())
print()
print(products.printSchema())
print()
print(sellers.printSchema())

root
 |-- transaction_id: integer (nullable = true)
 |-- item_id: integer (nullable = true)
 |-- seller_id: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- num_items: integer (nullable = true)

None

root
 |-- item_id: integer (nullable = true)
 |-- category: string (nullable = true)
 |-- price: double (nullable = true)

None

root
 |-- seller_id: integer (nullable = true)
 |-- seller_type: string (nullable = true)

None

1. Il numero totale di prodotti venduti nel dicembre 2009

In [102]:
spark.sql('''
SELECT SUM(num_items) AS total
FROM T
WHERE year = 2009 AND month = 12
''').show()

+-----+
|total|
+-----+
|  173|
+-----+

2. Il numero di libri che costano meno di 10 EUR

In [105]:
spark.sql('''
SELECT COUNT(*) AS total
FROM P
WHERE category = 'Books' AND price < 10
''').show()

+-----+
|total|
+-----+
|   83|
+-----+

3. Il ricavo derivante dalla vendita dei libri nel mese di Dicembre 2009

In [106]:
from pyspark.sql.types import FloatType

def income(price, num_items):
  return round(float(price) * int(num_items), 2)

spark.udf.register('income', income, FloatType())

In [108]:
spark.sql('''
SELECT SUM(income(P.price, T.num_items)) AS total
FROM T, P
WHERE T.item_id = P.item_id
AND T.year = 2009
AND T.month = 12
AND P.category = 'Books'
''').show()

+-----------------+
|            total|
+-----------------+
|2559.679981002584|
+-----------------+

4. Il ricavo derivante da tutte le transazioni per ciascuna categoria di prodotto

In [109]:
spark.sql('''
SELECT category, SUM(income(P.price, T.num_items)) AS income
FROM T, P
WHERE T.item_id = P.item_id
GROUP BY P.category
ORDER BY income DESC
''').show()

+--------------------+------------------+
|            category|            income|
+--------------------+------------------+
|               Books|28382.259702561423|
|Kitchen & Housewares| 2242.569999694824|
|         Electronics|2111.4400119781494|
|     Kindle Hardware|1525.9699993133545|
|Apparel & Accesso...| 759.3499882221222|
|               Music| 673.7299979329109|
|                 DVD| 618.6699931621552|
|            Software| 609.0699970722198|
|Health & Personal...| 567.9800043106079|
|   Sports & Outdoors| 429.1099965572357|
|        Toys & Games| 328.5799969434738|
|       MP3 Downloads| 316.3299962282181|
|         Video Games|305.36999876238406|
|    Tools & Hardware|280.23000049591064|
|Health & Personal...| 223.2799949645996|
|       Kindle eBooks|206.91999693587422|
|             Watches|119.98999786376953|
| Musical Instruments|             84.75|
|             Jewelry|              74.0|
|                Baby| 73.91999912261963|
+--------------------+------------------+
only showing top 20 rows

5. I tre venditori di tipo Third-Party che hanno venduto il maggior numero di prodotti

In [113]:
spark.sql('''
SELECT S.seller_id, SUM(T.num_items) AS nProductsSold
FROM T, S
WHERE T.seller_id = S.seller_id
AND S.seller_type = 'Third-Party'
GROUP BY S.seller_id
ORDER BY nProductsSold DESC
''').show()

+---------+-------------+
|seller_id|nProductsSold|
+---------+-------------+
|        2|           57|
|        3|           50|
|        1|           49|
|        4|           49|
|        6|           47|
|        7|           47|
|        9|           46|
|       10|           45|
|        8|           43|
|        5|           42|
+---------+-------------+